*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: arial;
}

.rosa{
    margin-left:250px;
    height: 230px;
    margin-top: 100px;
}

.duda{
    margin-left: 490px;
    margin-top: -160px;
    font-size: 23px;
}

.correo{
    font-size: 23px;
    margin-top: 10px;
    margin-left: 420px;
}

footer{
  width: 100%;
  height: 150px;
  background-color: #EAACF3;
  list-style: none;
  display: flex;
  flex-direction: row;
  border: 0.5px solid black;
}

.contenidoDelFotooter{
    text-align: center;
    margin-left: 170px;
    color:beige
}

.iconoDeFacebook{
    width: 40px;
    height: 40px;
    display: block;
    margin-left: 470px;
    margin-right: auto;
    margin-top: 80px;
}

.iconoDeInstagram{
    width: 40px;
    height: 40px;
    display: block;
    margin-left: 550px;
    margin-right: auto;
    margin-top: -37px;
}

.contacto{
    font-size: 20px;
    margin-left: -650px;
    color: black;
    margin-top: -60px;
}

.tel{
    font-size: 20px;
    margin-left: -650px;
    color:black;
    margin-top: 20px;
}
.seguir{
    margin-top: -100px;
    margin-left: 680px;
}
@media screen and (max-width:767px){
    .rosa{
        width: 360px;
        height: 250px;
        height: 100px;
        margin-left: 30px;
        margin-top: 95x;  
    }
    .duda{
        margin-left: 50px;
        margin-top: -100px;
        padding-left: 30px;
        font-size: 20px;
    }
    .correo{
        margin-left: 50px;
        font-size: 20px;
        padding-right: 50px;
        text-align: center;
    }
    footer{
        width: 99%;
        height: 150px;
        margin-top: -120px;
        margin-left: 1px;
    }
    .contacto{
        margin-left: -300px;
        margin-top: -100px;
    }
    .tel{
        margin-left: -300px;
        margin-top: 10px;
    }
    .seguir{
        margin-left: 250px;
        margin-top: -120px;
    }
    .iconoDeFacebook{
        margin-left: 50px;
    }
    .iconoDeInstagram{
        margin-left: 100px;
    }
}